@import 'Enlaces/mixins';
@import 'Enlaces/variables';
@import 'Enlaces/fuentes';


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $fuenteGeneral;
}

body{
    background-color: $colorGris1;
}

header{
    @include flexbox(column, space-between, center);
    height: 100vh;
    width: 100%;
    padding: 30px 70px;
    background-image: url(../assets/imagenes/cabecera.jpg);
    background-color: $colorAzul3;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: $colorGris0;
}
.logoPpal{
    display: block;
    position: fixed;
    top: 20px;
    left: calc(50% - 50px - 30px);
    height: 100px;
}
#navbar{
    @include flexbox(row, space-between, center);
    padding: 0px;
    height: 70px;
    width: 100%;
    margin-top: 30px;

    #moneda{
        width: fit-content;

        i{
            font-size: $subtitulo;
            margin-right: 10px;
        }
        p{
            display: inline-block;
            font-size: $cuerpoLg;
        }
    }
    #menuHamburguesa{
        font-size: $subtitulo;
    }
}

.intro{
    height: 70vh;
    width: 60%;
    padding: 0px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    @include flexbox(column, space-around, center);
    text-align: center;
    
    .descripcion{
        display: block;
        height: fit-content;
        padding: 20px 0px;
        h1{
            font-family: $fuenteTitulo;
            font-size: $displayLg;
            margin: 10px auto;
        }
        p{
            margin: 0 auto;
            font-size: $subtitulo;
            width: 80%;
            margin: 10px auto;
        }
    }

    .activo{
        @include grids(50px, 10px, space-around, center);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 36px auto;
        height: 60%;
        width: fit-content;
        padding: 10px 30px;

        h2{
            grid-column-start: 0;
            grid-column-end: span 2;
        }
        .activo__informacion{
            height: 210px;
            width: 180px;
            padding: 8px 5px;
            @include grids (0px, 10px, center, center);
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr 20px;
            background-color: $azulTranslucido;
            box-shadow: 0px 0px 5px $colorAzul5;
            border-radius: 10px;
        }

        .activo__informacion--nombre{
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 2px solid $colorAzul3;
        }
        .activo__informacion--conversion{
            font-size: $cuerpoSm;
            color: $colorGris2;
        }
    }

    // input{
    //     height: 40px;
    //     width: 140px;
    //     font-size: $cuerpoLg;
    //     background-color: $colorAzul0;
    //     border: 1px solid $colorAzul7;
    //     color: $colorAzul7;
    //     border-radius: 20px;
    //     transition: all 0.2s linear;

    //     &:hover{
    //         background-color: $colorAzul7;
    //         color: $colorGris0;
    //     }
    // }
}