@import 'Enlaces/mixins';
@import 'Enlaces/variables';
@import 'Enlaces/fuentes';

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    background-color: $colorGris0;
    color: $colorAzul6;
    font-family: $fuenteGeneral;
    font-size: 16px;
        
    &::-webkit-scrollbar{
            width: 5px;
    }
    &::-webkit-scrollbar:active{
        width: 10px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $colorAzul3;
        border-radius: 10px;
    }
}

header{
    @include flexbox (row, space-between, center);
    height: 70px;
    width: 100%;
    padding: 0px 80px;
    position: fixed;
    background-color: $bg-header;
    z-index: 1000;

    h1{
        width: fit-content;
        padding: 0px;
        font-family: $fuenteLogo;
        font-size: $titulo;
        font-weight: 800;
        letter-spacing: 1px;
    }
    #navBar{
        @include flexbox (row, space-between, center);
        width: 480px;
        height: 100%;

        a{
            color: $colorAzul6;
            text-decoration: none;
            transition: all 0,3s linear;

            &:hover{
                color: $colorAzul7;
            }
            &:visited{
                color: $colorAzul6;
            }
        }
        #btnIngreso{
            margin: 0px;
            @include boton(100px, 35px, $colorAzul5, $colorAzul6);
            line-height: 30px;
            color: $colorGris1;
        }
    }
}

#redes {
    position: fixed;
    left: 30px;
    top: 70%;
    @include flexbox(column, space-around, center);
    width: fit-content;
    height: 140px;
    z-index: 1000;
    i{
        font-size: $cuerpoLg;
        color: $colorAzul6;
        transition: all 0.1s linear;
        &:hover{
            transform: scale(1.2);
        }
    }
    i:first-child{
        &:active{
            color: #D3F325;
        }
    }
}

section{
    width: 100%;
    height: 100vh;
    padding: 80px 80px;
}

#inicio{
    @include grids(10px, 0px, start, center);
    grid-template-columns: repeat(2, 1fr) 200px;
    grid-template-rows: auto;
    grid-template-areas: "intro imagen lista";
    background-image: url(../assets/imagenes/backgroung-1.jpg);
    background-size: cover;
    background-position: center;

    #intro{
        grid-area: 'intro';
        @include flexbox(column, center, flex-start);
        height: 80%;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 15%;

        h2{
            font-family: $fuenteTitulo;
            font-weight: bold;
            font-size: $display;
            margin-bottom: 30px;
        }
        p{
            font-size: $cuerpoLg;
            line-height: 1.7em;
        }
    }
    #imagenCripto{
        grid-area: imagen;
        width: 70%;
    }
    #listado{
        grid-area: lista;
        @include flexbox(row, flex-end, center);
        height: 100%;
        p{
            margin-right: 20px;
        }
        img{
            width: 50px;
        }
    }
}

#informacion{
    @include flexbox(column, center, space-around);
    background-color: $colorAzul1;
    position: relative;

    .cuerpoInfo{
        @include flexbox(column, center, flex-start);
        width: 600px;
        height: 450px;

        #tituloInfo{
            font-family: $fuenteTitulo;
            font-size: display;
            margin-bottom: 40px;
        }

        #textoInfo{
            width: 550px;
            font-size: $cuerpo;
            line-height: 1.6em;
        }

    }

    #imagenInfo{
        position: absolute;
        top: 18%;
        right: 80px;
        width: 50%;
        mix-blend-mode: darken;
    }
}

#mercado{
    display: block;
    height: calc(100vh - 35px);
    padding-bottom: 20px;
    background-color: $colorAzul1;

    #listaMercado{
        display: block;
        height: 100%;
        overflow-y: scroll;
        
        &::-webkit-scrollbar{
                width: 5px;
        }
        &::-webkit-scrollbar:active{
            width: 10px;
        }

        &::-webkit-scrollbar-thumb{
            background-color: $colorAzul2;
            border-radius: 10px;
        }

        tr{
            text-align: left;
            border: none;

            th{
                width: calc(100% / 8);
                height: 50px;
                padding: 2px 20px;
                padding-left: 20px;
                background-color: $colorGris1;
                border: none;

                #divisaLista{
                    @include boton(80px, 35px, $colorAzul5, $colorAzul6);
                    font-size: $cuerpo;
                    font-weight: bold;
                }
            }
            td{
                width: auto;
                height: 45px;
                padding: 2px 10px;
                padding-left: 20px;
                background-color: $colorAzul1;
                border-bottom: 1px solid $colorAzul3;

                &:first-child{
                    padding-left: 5px;

                    .nombreCompletoLista{
                        @include flexbox(row, space-around, center);
                        width: 200px;
                        img{
                            width: 30px;
                            margin-right: 5px;
                        }
                    }
                }


                .btnCompra{
                    @include boton(100px, 50px, $colorAzul5, $colorAzul6);
                    padding: 5px 10px;
                    line-height: 20px;
                    text-decoration: none;
                    text-align: right;
                }
            }
        }
    }
}

footer{
    height: 35px;
    padding: 5px;
    background-color: $colorAzul3;
    color: $colorAzul8;
    text-align: center;
    z-index: 1000;
}