
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Roboto&display=swap');

$fuenteLogo: sans-serif, verdana;
$fuenteTitulo: 'Noto Sans', sans-serif, verdana;
$fuenteGeneral: 'Lato', sans-serif, verdana;
$fuenteGeneralConversor: 'Roboto', sans-serif, verdana;

$cuerpoSm: 14px;
$cuerpo: 16px;
$cuerpoLg: 18px;
$subtitulo: 20px;
$titulo: 24px;
$display: 30px;
$displayLg: 34px;
$jumbo: 38px;
$jumboXl: 46px;