// Display
$screen-lg: 1200px;
$screen-md: 900px;
$screen-sm: 700px;
$screen-xs: 500px;

// Paddings
$main-padding: 80px;
@include screen-lg (){ $main-padding: 90px !important;}
@include screen-md (){ $main-padding: 50px !important;}
@include screen-sm (){ $main-padding: 30px !important;}
@include screen-xs (){ $main-padding: 15px !important;}

// Colores
$colorAzul0: #dae2ec;
$colorAzul1: #cdd4e7;
$colorAzul2: #97adc9;
$colorAzul3: #7692b7;
$colorAzul4: #5678a4;
$colorAzul5: #455f83;
$colorAzul6: #334761;
$colorAzul7: #212f40;
$colorAzul8: #10161e;


$colorVioleta0: #b177fb;
$colorVioleta1: #A154FF;
$colorVioleta2: #7908FF;
$colorVioleta3: #5F06CC;
$colorVioleta4: #3B0480;
$colorVioleta5: #1d023e;


$azulTranslucido: #7692b777;

$colorGris0: #eeeeee;
$colorGris1: #dddddd;
$colorGris2: #bbbbbb;
$colorGris3: #999999;
$colorGris4: #808080;
$colorGris5: #666666;
$colorGris6: #4d4d4d;
$colorGris7: #333333;
$colorGris8: #1a1a1a;

$colorVerde0: #68Fb5f;
$colorVerde1: #29fa1d;
$colorVerde2: #14b10b;
$colorVerde3: #097c02;

$colorRojo0: #ff3d44;
$colorRojo1: #ff1b23;
$colorRojo2: #e70008;
$colorRojo3: #920005;


$gradienteHeader: linear-gradient(to top, $colorAzul3, $colorAzul5);
$gradienteAside: radial-gradient(circle at left bottom, $colorVioleta2, $colorAzul3);
$gradienteUser: linear-gradient(to right, $colorVioleta2, $colorVioleta3);
$grAzulVioleta: linear-gradient(to bottom, $colorAzul1 40%, $colorAzul5);
$fondoTranslucido: #7708ff66;

$bg-header: #f6f6f63f;
