@font-face{
    font-family: Ebirma;
    src: url("../assets/fuentes/ebrima.ttf") format("Truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Noto_sans;
    src:url("../assets/fuentes/Noto_Sans/NotoSans-Regular.ttf") format("Truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: Roboto;
    src: url("../assets/fuentes/Roboto/Roboto-Medium.ttf") format("Truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: Lato;
    src: url("../assets/fuentes/Lato/Lato-Regular.ttf") format("Truetype");
    font-weight: normal;
    font-style: normal;
}

$fuenteLogo: Ebirma, sans-serif, verdana;
$fuenteTitulo: Noto_sans, sans-serif, verdana;
$fuenteGeneral: Roboto, sans-serif, verdana;
$fuenteGeneralConversor: Lato, sans-serif, verdana;



$cuerpoSm: 14px;
$cuerpo: 16px;
$cuerpoLg: 18px;
$subtitulo: 20px;
$titulo: 24px;
$display: 30px;
$displayLg: 34px;
$jumbo: 38px;
$jumboXl: 46px;