@mixin flexbox($direccion, $justificacion, $alineacion){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justificacion;
    align-items: $alineacion;
}

@mixin grids($cGap, $rGap, $justificacion, $alineacion){
    display: grid;
    grid-column-gap: $cGap;
    grid-row-gap: $rGap;
    justify-content: $justificacion;
    align-items: $alineacion;
}

@mixin boton ($width, $height, $colorPrincipal, $colorSecundario){
    width: $width;
    height: $height;
    color: $colorGris0;
    background-color: $colorPrincipal;
    border: 2px solid $colorSecundario;
    font-size: $cuerpo;
    text-align: center;
    transition: background-color 0.2s ease-in;

    &:hover{
        background-color: $colorSecundario;
    }
    &:active{
        outline: none;
        box-shadow: 0px 0px 5px $colorGris7 inset;
    }
    &:focus{
        outline: none;
    }
}

@mixin botonDeshabilitado($width, $height, $colorPrincipal){
    width: $width;
    height: $height;
    margin: 0 auto;
    color: $colorGris4;
    background-color: $colorPrincipal;
    border: none;
    font-size: $cuerpo;
    line-height: 1.5em;
    
    &:active{
        outline: none;
        box-shadow: 0px 0px 5px $colorGris7 inset;
    }

    &:focus{
        outline: none;
    }
}