@mixin flexbox($direccion, $justificacion, $alineacion){
    display: flex;
    flex-direction: $direccion;
    justify-content: $justificacion;
    align-items: $alineacion;
}

@mixin grids($cGap, $rGap, $justificacion, $alineacion){
    display: grid;
    grid-column-gap: $cGap;
    grid-row-gap: $rGap;
    justify-content: $justificacion;
    align-items: $alineacion;
}