$colorAzul0: #dae2ec;
$colorAzul1: #b9c7da;
$colorAzul2: #97adc9;
$colorAzul3: #7692b7;
$colorAzul4: #5678a4;
$colorAzul5: #455f83;
$colorAzul6: #334761;
$colorAzul7: #212f40;
$colorAzul8: #10161e;

$colorVioleta0: #b177fb;
$colorVioleta1: #A154FF;
$colorVioleta2: #7908FF;
$colorVioleta3: #5F06CC;
$colorVioleta4: #3B0480;
$colorVioleta5: #1d023e;

$colorGris0: #ffffff;
$colorGris1: #dddddd;
$colorGris2: #bbbbbb;
$colorGris3: #999999;
$colorGris4: #808080;
$colorGris5: #666666;
$colorGris6: #4d4d4d;
$colorGris7: #333333;
$colorGris8: #1a1a1a;

$colorVerde0: #68Fb5f;
$colorVerde1: #29fa1d;
$colorVerde2: #11df05;
$colorVerde3: #097c02;

$colorRojo0: #ff3d44;
$colorRojo0: #ff1b23;
$colorRojo0: #e70008;
$colorRojo0: #920005;

/*$gradienteAzul: linear-gradient(to bottom, $celeste2, $celeste3);*/
